---
import MainLayout from "@/components/MainLayout.astro";
import { Chart } from "@/components/tevico/charts";
import { DataTable } from "@/components/tevico/data-table/data-table";
import { MetricCard } from "@/components/tevico/metric-card";
import { pageNames, pages } from "@/lib/utils";
import "@/styles/globals.css";

const pieChartData = {
  data: [
    { browser: "Chrome", visitors: 4344 },
    { browser: "Firefox", visitors: 5435 },
    { browser: "Safari", visitors: 2525 },
  ],
  config: {
    labelKey: "browser",
    valueKey: "visitors",
  },
};

const barChartData = {
  data: [
    { month: "January", desktop: 186, mobile: 123 },
    { month: "February", desktop: 305, mobile: 234 },
    { month: "March", desktop: 237, mobile: 345 },
  ],
  config: {
    xAxis: "month",
    dataKeys: ["desktop", "mobile"],
  },
};

const tableData = [
  {
    id: "728ed52f",
    amount: 100,
    status: "pending",
    email: "m@example.com",
  },
  {
    id: "489e1d42",
    amount: 125,
    status: "processing",
    email: "example@gmail.com",
  },
];

const columns = [
  {
    accessorKey: "status",
    header: "Status",
  },
  {
    accessorKey: "email",
    header: "Email",
  },
  {
    accessorKey: "amount",
    header: "Amount",
  },
];
---

<MainLayout activePage={pages[pageNames.index]}>
  <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-4">
    <MetricCard title="Total Number of Checks" value={30} />
    <MetricCard title="Total Number of Checks" value={30} />
    <MetricCard title="Total Number of Checks" value={30} />
    <MetricCard title="Total Number of Checks" value={30} />
  </div>
  <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-2">
    <Chart type={"BAR"} barChartData={barChartData} />
  </div>
  <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-2">
    <Chart type={"HORIZONTAL_BAR"} horizontalBarChartData={barChartData} />
  </div>
  <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-2">
    <Chart type={"PIE"} pieChartData={pieChartData} />
  </div>
  <div class="grid gap-4 md:grid-cols-2 md:gap-8 lg:grid-cols-2">
    <Chart type={"DOUGHNUT"} doughnutChartData={pieChartData} />
  </div>
  <div class="container mx-auto py-10">
    <DataTable columns={columns} data={tableData} />
  </div>
</MainLayout>
